.pointer{
	cursor: pointer;
}

.log{
	display: none;
}
.coin-calculator {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.coin-calculator select {
	width: 300px;
}
.coin-calculator .rc-slider {
	min-width: 400px;
	max-width: 400px;
    margin: 12px;
}

.showLog {
    display: table-row;
}

th a {
    color:black;
}